<article class="card-group-item">

    <header class="card-header">
        <h6 class="title">Language </h6>
    </header>
    <div class="filter-content">
        <div class="card-body">
            <label *ngFor="let language of languageList" class="form-check">
                <input (change)="onCheckBoxSelect($event.target)" class="form-check-input" type="checkbox" [value]="language">
                <span class="form-check-label" [innerText]="language"> </span>
            </label>
        </div> <!-- card-body.// -->
    </div>
</article>
